@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

/* main  */
/* .main{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
   
} */
@media (max-width:700px) {
    .logos {
        flex-wrap: wrap;
    }
   


}
div{
  overflow-y: hidden;
}
body {
    overflow-x: hidden;
}
*{
  overflow-x: hidden;
}

.main1 {
    width: 100%;
    position: relative;

}

.main1 img {

    width: 100%;
    height: 100%;


}

.main2 {
    position: absolute;
    bottom: 0;
    left: 50vw;
    top: 26vw;

}

.mainHead {
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.subHead {
    margin-bottom: 3vw;
    letter-spacing: 0.1vw;
    
}
@media (max-width:600px){
  .mainHead{
    font-size: 1.5em;
  }
  .subHead{
    font-size: 1em;
  }
  .button{
    font-size: 0.7em;
  }
  
}

.button {
    padding: 0.3vh 2vw;
    font: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;


}
p{
  font-family: poppins,sans-serif;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
   color: white;
    text-decoration: none;
   background-color: grey;
    transform: scale(1.1);
    border-radius: 0px;
    
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logos img {
    width: 70%;
}

/* carousel  */
/* .container {
    position: absolute;
    height: 50vh;
    width: 100%;
    left: calc(50% -100vw);
    display: flex;
    margin-top: 5vw;
    
    
   
  }
  
  .card {
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: #17141d;
    border-radius: 1vw;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0vw;
   
  }
  
  .card:not(:first-child) {
      margin-left: -5vw;
  }
  
  .card:hover {
    transform: translateY(-2vw);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 4vw;
    transition: 0.4s ease-out;
    
  } */

  .container {
    width: 100%;
    
  }
  @media (min-width: 768px) {
    .container {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item > div {
      display: none;
    }
    #featureContainer .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  #featureContainer .carousel-inner .carousel-item.active,
  #featureContainer .carousel-inner .carousel-item-next,
  #featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
  }
  @media (min-width: 768px) {
    
    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    #featureContainer .carousel-inner .carousel-item-start.active, 
    #featureContainer .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
    #featureContainer .card img{
      width: 100%;
      height: 40vh;
    }
    #featureContainer .carousel-item{
      justify-content: space-between;
    }
  }
  @media (max-width: 767px) {
    #featureContainer .card img{
      width: 100%;
      height: 55vh;
    }
    .over-card{
      visibility: hidden;
    }
  }
  #featureContainer .carousel-inner .carousel-item-end,
  #featureContainer .carousel-inner .carousel-item-start { 
    transform: translateX(0);
  }
  #featureContainer .card{
    border: 0;
  }
  #featureContainer .card{
    position: relative;
  }
  #featureContainer .card .card-img-overlays{
    position: absolute;
    background-color: white;
    border: 1px none ;
    border-radius: 2px;
    padding:0.2vw 0.6vw;
    font-size: 0.8em;
   margin-left: 1vw;
   font-family: poppins,sans-serif;
   font-weight: 800;
   top: 0.3vw;
  }
  #featureContainer a{
    text-decoration: none;
  }
  #featureContainer .indicator{
   
    
    
  }
  #featureContainer .indicator:hover{
    background-color: black;
    border-radius: 50%;
    transition: 200ms;
  }
  #featureContainer .indicator:hover{
    color: white;
    transition: 200ms;
  }
  #featureContainer .indicator {
    color: lightgray;
  }
  #featureContainer .float-end{
    padding-top: 10px;
  }
  .over-card{
    height: 40vh;
    width: 100%;
    position: absolute;
    opacity: 0;
  }
  .over-card:hover{ 
    opacity: 1;
  } 
  .like{
    position: absolute;
    background-color: white;
    border: 1px none;
   border-radius: 50%;
    left: 12vw;
    padding: 0.2vw  0.5vw;
    top: 0.3vw;
  }
  .cart{
    position: absolute;
    background-color: black;
    
    border: 1px none;
   border-radius: 5px;
   bottom: 0.7vw;
   left: 0.75vw;
   padding: 0.6vw 4vw;
   /* left: 4.7vw; */
  }
  .cart  a{
    color: white;
    text-decoration: none;
  }
  .cart  a:hover{
    color: white;
    text-decoration: none;
  }
  .cart:hover{
    background-color: rgb(0, 0, 0,0.7);
    color: black;
   
  }
  .card{
    transition: transform .2s;
  }
  .card:hover{
    transform: scale(1.03);
    border-radius: 1vw;
   
  }

  .collection{
    margin: 4vw 11vw;
  }
  .collection a:hover{
    text-decoration: none;
    color: #999999;
  }
  .un{
    perspective: 50vw;
    background-color:#F3F5F7;
  }
  .underss{
   
    position: relative;
    transform: rotateY(45deg);
    animation: rotateAnimation 2s linear infinite;
  }
  .under{
    position: relative;
    
  }
  @keyframes rotateAnimation {
    from{transform: rotateY(45deg);}
    to{transform: rotateY(225deg);}
  }



  .over{
    position: absolute;
    bottom: 4vw;
    left: 7vw ;
  }
  .over a{
    color: black;
    text-decoration: none  ;
    padding-bottom: 0.7vw;
  border-bottom: 1px solid rgb(0, 0, 0);
   
    
  }
  .over h4{
    font-family: poppins,sans-serif;

  }
  .unders{
    position: relative;
  }
  .overs{
    position: absolute;
    /* bottom: 28vw; */
    bottom: 5vw;
    left: 6vw ;
    z-index: 2;
  }
  .overs a{
    color: black;
    text-decoration: none  ;
    padding-bottom: 0.7vw;
  border-bottom: 1px solid rgb(0, 0, 0);
   
    
  }
  @media (max-width:600px){
    .overs{
      bottom: 9vw;
    }
    .banner{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 7vw;
    }
    .time>p{
      font-size: 0.8em;
    }
    
    .final{
      flex-wrap: wrap;
      
    }
    .footer{
      flex-wrap: wrap;
    }
    .footer1{
      flex-wrap: wrap;
    }
    
   
  }
  @media (max-width:1150px){
    .join{
      visibility: hidden;
    }
   
    /* .newsletter{
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: -20vw;
      
      
      
      
    } */
    .last{
      height: 50vh;
      position: relative;
      width: 100%;
      
      
    }
    
  }
  @media (max-width:1400px){
   .over-card{
    visibility: hidden;
   }
  }
  @media (max-width:767px){
    .best-seller{
      margin-left: 6vw;
      margin-right: -9vw;
 
     }
     .row  h4{
      margin-left: 1vw;
      margin-bottom: 6vw;
      margin-top: 5vw;
     }
    
  }

  
  @media (max-width:740px){
    .best-seller{
      margin-left: 3vw;
      margin-right: -12vw;
    }
   
  }
  @media (max-width:670px){
    .best-seller{
      margin-right: 0.2vw;
      margin-left: 2vw;
    }
  }

  @media (max-width:596px){
    .best-seller{
      margin-left: 2vw;
      margin-right: 2vw ;
 
     }
    
  }
  @media (max-width:808px){
    .newsletter{
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: -10vw;
      margin-top: -15vw;
      
      
      
      
    } 
   
  }
 

  @media (max-width:560px){
    .newsletter{
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: -26vw;
    margin-top: -15vw;
      
      
      
      
    }
   
  }

  /* .best-cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .best-cards2{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .card2{
    position: relative;
    transition: transform .2s ease-out;
  }
  .card2:hover{
    transform: scale(1.03);
    border-radius: 1vw;
  }
  
  .card-img-overlays{
    position: absolute;
    background-color: white;
    border-radius: 2px;
    padding:0.2vw 0.6vw;
    font-size: 0.8em;
   margin-left: 1vw;
   font-family: poppins,sans-serif;
   font-weight: 800;
   top: 0.3vw;
  }
  .card2>.over-card .cart{
    bottom: 3vw;
  }
  .seller{
    margin-left: 17.15vw;
  }

  /* banner */

  .banner{
    display: flex;
    align-items: center;
    background-color: black;
  }
  
  .banner-text{
    margin-left: 5vw;
    
   
  }
  .textt a{
    color: orange;
    font-size: 1em;
  }
  .textt a:hover{
    text-decoration: none;
    color: white;
  }
  .textt{
    line-height: 4vw;
    color: white;
  }
  .timer{
    display: flex;
   
   
  }
  .time{
    margin-right: 0.3vw;
    margin-bottom: 1vw;
  }
  
  .time>h4{
    padding: 2vw;
    background-color: white;
  }
  .time>p{
    color: white;

  }
  .banner-text .button{
   padding: 0.5vw 1vw;
   border-radius: 0.5vw;
   letter-spacing: 0.1vw;

  }
  .banner-text .button:hover{
    border-radius: 0;
  }

  /* shipping */

  .grid{
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 0.7fr;
    margin: 2vw 0vw;
    font-family: poppins,sans-serif;
  }
  .g-item{
   
   padding: 2vw 1vw;
   margin: 1vw;
   background-color: #F3F5F7;
  }

  .g-item>p{
    font-size: 0.8em;
  }

  /* final  */


  .instagram{
    font-family: poppins,sans-serif;
  }
  .final{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .final>img{
    padding: 1vw;
  }
.last{
  position: relative;
  font-family: poppins,sans-serif;
  background-color: #E2E4E3;
  width: 100%;
}
  .join {
    width: 100%;
    position: relative;

}

.join img {

    width: 100%;
    height: 100%;
 

}

.newsletter {
    position: absolute;
    background-color: #E2E4E3;
    left: 35vw;
    bottom: 0;
    top: 15vh;
    

}
input {
  
  padding-left: 0.4vw;
  height: 5vw;
  width: 16vw;
 
  
}
textarea:focus, input:focus{
  outline: none;
 
  
}

.mail{
  
  padding-top: 2vw;
  padding-bottom: 0.7vw;
  border-bottom: 1px solid rgb(167, 164, 164);
}

/* footer */

/* .footer1{
  display: flex;
justify-content: center;
 align-items: center;
 padding-right: 18vw;

}
.footer12{
  display: flex;
  padding: 2vw;
  padding-left: 20vw;
  
}

.vl{
  border-left: 0.1vw solid rgb(0, 0, 0);
  height: 3vh;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.footer-main{
  padding-top: 90px;
}

.address-main > div.col-lg-4 {
  border-bottom: dotted 1px #999;
}
.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}
.add-icon{
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}
.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}
.add-icon img{
  width: 100%;
}
.address-box .add-icon img {
  max-width: 40px;
}
.add-content{
  padding-left: 70px;
}
.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
.add-content p a{
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}
.add-content p a:hover{
  color: #ffb32d;
}
.footer-main{
  padding-top: 90px;
}

.address-main > div.col-lg-4 {
  border-bottom: dotted 1px #999;
}
.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}
.add-icon{
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}
.address-box .add-icon {
  background: #27303b;
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}
.add-icon img{
  width: 100%;
}
.address-box .add-icon img {
  max-width: 40px;
}
.add-content{
  padding-left: 70px;
}
.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}
.add-content p a{
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}
.add-content p a:hover{
  color: #ffb32d;
  text-decoration: none;
}


.brand{
  font-size: 13px;
}

.cards{
  font-size: 0.8em;
}